#my_div {

    background-color: palegoldenrod;
    border-style: groove;
    border-radius: 8px;
    width: auto;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;

    overflow: hidden;
}

.page_banner {

    color: cornflowerblue;
}


body {
    background-image: url("background.jpg");
    background-size: 200px;
    background-repeat: repeat;
}

.main {
    background-color: white;
    display:block;
    width: auto;
    height: 700px;

    border: 30px soild transparent;
    border-radius: 10%;
    padding: 100px;
    border-image: url("unnamed.png") 33% round;
    border-image-width: 50px;
    overflow: hidden;
   
}

.container {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 65%;
    min-height: 900px;
    height: fit-content;
    border-radius: 10%;
    padding: 50px;
}

.link_icon {
    width: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.link_icon:hover {
    margin-top: -10px;
    margin-bottom: 10px;
}

.link_icon_set {
    float:left;
    border-style: groove;
    background-color: palegoldenrod;
    width:100px;

}

.link_icon a {
    text-decoration: none;
}

.contents {
    /* display: flex; */
}


.contents_item {
    display:inline-block;
    width: 250px;
    height: 250px;

    align-items: center;
    
    border-style: groove;
    background-color: lightblue;

    margin-right: 20px;
}

.contents_icon {
    display: block;

    margin-left: auto;
    margin-right: auto;
    width:200px;
    margin-top: -30px;
    transition: margin-top 0.2s ease-in-out;

}


.contents_icon:hover {
    margin-top: -45px;
    transition: margin-top 0.2s ease-in-out;

}


.blog_post {
    display: flex;
}

.photo {
    width: 30%;
    align-content: center;
}

.photo_text {
    width: 70%; 
    margin-left: 20px;  

}

.home_button {
    width: 90px; 
   
}
