#my_div {
    background-color: red;

    border-radius: 8px;
    width: 300px;

    overflow: hidden;
}

.page_banner {
    background-color: purple;

    color: cornflowerblue;
}


body {
    background-image: url("background.jpg");
    background-size: 100%;
}